<div class="flex-col">
    <h3 class="text-lg font-medium">
        <%- title %>
    </h3>

    <% itemlist.map((item)=> { %>
        <div class="gap-2">
            <input type="radio" class="" />
            <%- item %>
        </div>
        <% }) %>

</div>