<div class="items-center justify-between py-3">
    <%- include('../GradientButton.ejs', { href: "/" ,
        component: '<i class="fa-regular fa-bell"></i> <span>Notifications (0)</span>' }) %>

        <div class="gap-6">
            <a>Basket</a>
            <a>Hat</a>
            <a>Gaming mouse</a>
            <a>Cosmetics</a>
            <a>Toy</a>
            <a>Books</a>
            <a>Rack</a>
            <a>Backpack</a>
            <a>Tumblr</a>
            <a>Umbrella</a>
        </div>

        <%- include('../GradientButton.ejs', { href: "/cart" ,
            component: '<i class="fas fa-cart-shopping"></i> <span>My cart (0)</span>' }) %>
</div>