<div>
    <%- include('../GradientButton.ejs', { href: "/" ,
        component: '<i class="fas fa-bell"></i> <span>Notifications (0)</span>' }) %>

        <div class="gap-6">
            <p>Basket</p>
            <p>Hat</p>
            <p>Gaming mouse</p>
            <p>Cosmetics</p>
            <p>Toy</p>
            <p>Books</p>
            <p>Rack</p>
            <p>Backpack</p>
            <p>Tumblr</p>
            <p>Umbrella</p>
        </div>

        <%- include('../GradientButton.ejs', { href: "/" ,
            component: '<i class="fas fa-shopping-cart"></i> <span>My cart (0)</span>' }) %>
</div>