<!DOCTYPE html>
<html>

<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="css/index.css" />
</head>

<body>
	<h1>Hieu dep trai</h1>
	<h2>Param 1 read from routes/index.ts "<%= param1 %>"
	</h2>
	<h2>Param 2 read from routes/index.ts "<%= param2 %>"
	</h2>

	<a href="/login">Login</a>
</body>

</html>