<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/Head.ejs', {title: 'Shopbebin Admin' }) %>

<body>
  <%- include('../layouts/AdminHeader.ejs') %>

  <div class="container">
    <h1 class="mt-8 mb-4">Admin page</h1>

    <div class="gap-2">
      <a class="btn-primary" href="/admin/profile">Profile</a>
      <a class="btn-primary" href="/admin/accounts">Manage accounts</a>
      <a class="btn-primary" href="/admin/vendors">Manage vendors</a>
      <a class="btn-primary" href="/admin/products">Manage products</a>
    </div>
  </div>
</body>

</html>