<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/Head.ejs', {title: 'Shopbebin Admin Login' }) %>

<body>
  <%- include('../layouts/AdminHeader.ejs') %>
  <div class="flex-col px-[400px] py-[100px] gap-4">
    <h2 class="font-semibold text-xl">Log In</h2>
    <div class="flex-col">
      <p>Username or email adress</p>
      <%- include ('../components/TextInput.ejs') %>
    </div>
    <div class="flex-col">
      <p>Password</p>
      <%- include ('../components/TextInput.ejs') %>
    </div>
    <div class="justify-between">
      <div class="justify-center items-center gap-2">
        <div class="w-4 h-4 rounded-sm border-[1px] border-black"></div>
        Remember me
      </div>
      <a>Forget password</a>
    </div>
    <a href="/admin" class="btn-secondary">Login</a>
  </div>
</body>

</html>