<div class="w-[600px] items-center gap-5 px-10 py-5 bg-secondary/30 rounded-xl">
    <img src="../favicon.ico" alt="" class="h-[100px] rounded-md" />
    <div class="flex-col w-full">
        <p>
            <%= name %>
        </p>

        <div>
            Quantity:&nbsp
            <input type="number" value="1" class="w-16">
        </div>

        <div>
            Price:&nbsp;
            <p class="text-primary">
                $ <%= price %>
            </p>
        </div>
    </div>
</div>