<div class="flex-col justify-center items-center gap-3 w-[256px] m-3">
  <img src=<%- img %> alt="" class="w-full h-60 rounded-md" />

  <div class="flex-col w-full">
    <p class="text-primary">
      SKU#: <%= sku %>
    </p>
    <p>
      <%= name %>
    </p>
    <div>
      Price:&nbsp;
      <p class="text-primary">
        $ <%= price %>
      </p>
    </div>
  </div>

  <a class="btn-primary">ADD TO CART</a>
</div>